package pages

import "github.com/tidurak/GovnoedBackend/services/GovnoedWeb/components"

templ Index() {
	@components.Layout("Главная") {
		<h1>Всем сосать</h1>

		<p>
			Вы попали на сайт "говноед".
			Первый русскоязычный сайт для латентных копрофилов.
		</p>

        <h1>Debilbot</h1>
        <h3 style="text-align: center;">
            <i>
                "<u>Debilbot</u> - это дискорд бот для очень, и не очень умных людей, 
                который поможет вам устроить лютый срач на серваке, а потом всех забанить."
            </i>
        </h3>
        @components.ImgContentContainerLeft("/static/img/1.png", "Debilbot") {
            <p>
                Для добавления бота на ваш сервер, нажми кнопку ниже, это же так сложно!
            </p>
            <p>
                <a 
                class="container-content button" 
                href="https://discord.com/oauth2/authorize?client_id=699912361481470032&permissions=8&integration_type=0&scope=bot"
                target="_blank">
                    Добавить бота
                </a>
            </p>
        }
        @components.ImgContentContainerRight("/static/img/2.png", "+18 Дети идут нахуй") {
            <p> 
                Debilbot - не тот бот, который будет разговаривать с вами на "вы" 
                и цитировать Пушкина-Хуюшкина и Достоевского-Говноебского. 
                Он ебанутый, тупой, наглый и ему совершенно похуй на ваше мнение. 
                Осторожно, он может оскорбить вас, а также всех остальных долбаёбов на сервере.
                Поэтому, если вы не хотите, чтобы вас оскорбляли, то поплачьтесь своей мамаше 😢
            </p> 
        }
        @components.ImgContentContainerLeft("/static/img/3.png", "ИИ") {
            <p> 
                Никаких вам чатгпт и прочих нейросетей, которые будут с вами разговаривать вежливо и культурно.  
                Встроенный ИИ Дебилбота ебать какой тупой. Несёт ахинею вселенского масштаба, но похуй. 
                Зато генерирует +100500 лулзов в секунду
            </p>
        }
        @components.ImgContentContainerRight("/static/img/4.png", "Экономика") {
            <p> 
                Получите подачку от бота для бездомных в нашей инновационной внутренней валюте: Гондонах. 
                Наши гондоны пизже магазинных, так как они виртуальные, и не имеют свойство рваться. 
                Кста бля, ты можешь всю нашу соц. помощь слить в казике 
                <i>(слитые вами в казике гондоны уйдут на DebilBot Homeless Support)</i>
            </p> 
        }
        @components.ImgContentContainerLeft("/static/img/5.png", "Репутация") {
            <p>
                Заебал ваш друг олигофрен? Не беда, теперь вы можете слить ему репутацию. 
                Просто кликни по анимешной тянке на его пидорской аватарке, и жмай на -реп в контекстном меню
            </p>
        }
        @components.ImgContentContainerRight("/static/img/6.png", "И много другой порнухи...") {
            <p> 
                Вы получите при добавлении нашего востребованного бота на ваш
                никому нахуй не всравшийся сервак
            </p>
            <p>
                Перед использованием, придётся к сожалению прочитать тонну демагогии (политику конфиденциальности и пользовательское соглашение)
            </p>
            <p>
                <a href="privacy"><i>Политика конфиденциальности</i></a>
            </p>
            <p>
                <a href="terms"><i>Пользовательское Соглашение</i></a>
            </p>
        }
        @components.ImgContentContainerLeft("/static/img/ricardo.png", "Ссылки-сосылки") {
            <p> 
                <a 
                class="container-content button" 
                href="https://discord.com/oauth2/authorize?client_id=699912361481470032&permissions=8&integration_type=0&scope=bot"
                target="_blank">
                    Добавить бота
                </a>
            </p>
            <p>
                <a 
                class="container-content button" 
                href="https://github.com/TiDurak/DebilBot"
                target="_blank">
                    GitHub
                </a>
            </p>
            <p>
                <a 
                class="container-content button" 
                href="https://discord.gg/4dEmQjt"
                target="_blank">
                    Discord Сервак
                </a>
            </p>
        }
	}
}