package account

import "github.com/tidurak/GovnoedBackend/services/GovnoedWeb/components"


templ Account(username string, discordID int) {
    @components.Layout("Аккаунт") {
		@components.Splash("✅", 
		"Дарова хуйлан по имени " + username + "!",
		"Ты справился с авторизацией, теперь ты можешь получить социальную помощь")
		<h1>DebilBot - Аккаунт</h1>
		@components.ContentContainer("Привет, " + username + "!") {
			<p>Discord ID: { discordID }</p>
			<br><br>
			<a href="/logout">Выйти</a>
		}
		@components.ContentContainer("DebilBot Homeless Support"){
			<a href="/generate_key" class="button">🎁 Получить социальную помощь</a>
		}
		@components.ContentContainer("Магазин DebilCard"){
			<a href="/card_shop" class="button">Купить дизайн для твой бомжарской карты</a>
		}

	}
}