package components

templ Cookie() {
    <script src="/static/js/splash.js" defer></script>
    <div class="splash" id="splash">
        <div class="splash__icon">🍪</div>

        <div class="splash__content">
            <div class="splash__title">
                Сайт использует cookies
            </div>

            <div class="splash__text">
                Cookies необходимы для авторизации и
                корректной работы сайта. Не нравится? 
                Уёбывайте с сайта и не ебите мозги. 
                Приятного пользования!
            </div>
        </div>

        <button
            class="splash__close"
            type="button"
            onclick="closeSplash()"
            aria-label="Закрыть"
        >
            ×
        </button>
    </div>
}