package layout

templ Footer() {
    <div class="footer">
        <div style="display: inline-block;">
            <a href="https://github.com/tidurak/debilbot" target="_blank" rel="noopener" style="margin-right:10px;">
                GitHub Репопидорий
            </a>

            <a href="https://discord.com/oauth2/authorize?client_id=699912361481470032&permissions=8&integration_type=0&scope=bot"
            target="_blank" rel="noopener" style="margin-right:10px;">
                Добавить бота
            </a>

            <a href="https://discord.com/invite/4dEmQjt" target="_blank" rel="noopener" style="margin-right:10px;">
                Discord Сервак с дебилботом и долбаёбами
            </a>

            <a href="https://t.me/noname_tapok" target="_blank" rel="noopener" style="margin-right:10px;">
                Телеграм для связи
            </a>
        </div>

        <p>
            <i>govnoed.de</i> - Первый русскоязычный сайт для программистов-говноедов.
        </p>

        <p>
            © gdisclaimer. Все права сходили нахуй.
        </p>
    </div>
}