package layout

templ Head(title, description string) {
    <head>
        <meta charset="UTF-8"/>
        <meta name="theme-color" content="#161618"/>
        <meta name="description" content="Первый русскоязычный сайт для программистов-говноедов"/>
        <meta name="keywords" content="говно, говноед, govno, govnoed, gdisclaimer, gamerdisclaimer, debil, debilbot, 
        дебил, дебилбот"/>
        <meta name="author" content="gdisclaimer"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="manifest" href="/static/favicons/manifest.webmanifest"/>
        <link rel="icon" type="image/x-icon" href="/static/favicons/favicon.ico"/>
        <link rel="icon" type="image/png" href="/static/favicons/favicon-16x16.png" sizes="16x16"/>
        <link rel="icon" type="image/png" href="/static/favicons/favicon-32x32.png" sizes="32x32"/>
        <link rel="icon" type="image/png" href="/static/favicons/favicon-192x192.png" sizes="192x192"/>
        <link rel="icon" type="image/png" href="/static/favicons/favicon-512x512.png" sizes="512x512"/>
        <link rel="apple-touch-icon" href="/static/favicons/apple-touch-icon.png"/>

        <meta property="og:title" content="{ title } - govnoed.de">
        <meta property="og:description" content={ description }>
        <meta property="og:image" content="/static/img/3.png">
        <meta property="og:type" content="website">

        <link rel="stylesheet" href="/static/css/main.css"/>
        <link rel="stylesheet" href="/static/css/splash.css"/>
        <link rel="stylesheet" href="/static/css/content_container.css"/>
        <link rel="stylesheet" href="/static/css/generate_key_style.css"/>

        <title>{ title } - govnoed.de</title>
		</head>
}